a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}  
.grid{
    display: grid;
}
.grid-two-col{
    grid-template-columns: repeat(2, 1fr);
}
.grid-three-col{
    grid-template-columns: repeat(3, 1fr);
}
.grid-four-col{
    grid-template-columns: repeat(4, 1fr);
}
.item-center{
    align-items: center;
}
.justify-bet{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .4s ease;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--dark);
}
.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-hero{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}
.btn-hero:hover{
    background: var(--primary);
    color: var(--dark);
}


 .wrapper .static-txt{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 0.5rem;
}
 .wrapper .dynamic-txt{
    height: 70px;
    line-height: 70px;
    overflow:hidden ;
}
 .wrapper .dynamic-txt li{
    color: var(--primary);
    list-style: none;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1;
    top: 0;
    position: relative;
    margin-bottom: 1.5rem;
    animation: slide 8s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
 .wrapper .dynamic-txt li span{
    position: relative;
}
.wrapper .dynamic-txt li span::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark);
    border-left: 2px solid var(--primary);
    animation: typing 2s steps(12) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/* About Us Page */
.sub-heading{
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.heads{
    font-size: 4.5rem;
    padding-top: 12rem;
}
.bg-1{
    background-image: linear-gradient(rgba(4, 9, 20,0.7),rgba(4, 9, 20,0.7)), url('./images/bg1.jpg');
}


@media (max-width:1180px){
    .container{
        padding: 0 1rem;
    }
    .navbar .container .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .nav-list{
        position: absolute;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .navbar .nav-list a{
        margin: 3rem 0rem;
        margin-right: 2rem;
    }
    .navbar .nav-list.active{
        left: 0%;
    }
    .navbar .nav-list a{
        column-gap: 4rem;
    }
    .wrapper .static-txt{
        font-size: 3rem;
    }
    .wrapper .dynamic-txt li{
        font-size: 3.2rem;
        margin-bottom: 1.5rem;
    }
    .wrapper .dynamic-txt{
        height: 60px;
        line-height: 60px;
        overflow:hidden ;
    }
    @keyframes slide{
        100%{
            top: -300px;
        }
    }
    .hero .container {
        gap: 1rem;
    }
    .hero .right-hero p{
        line-height: 1.8;
    }
    .hero .left-hero img {
        width: 400px;
    }
    .btn {
        padding: 0.8rem 1rem;
        font-size: 1rem;
    }
    .about .left-about img {
        height: 500px;
    }
    .about .left-about::after {
        content: " ";
        left: 7px;
        top: 30px;
        height: 97%;
        width: 75%;
    }    
    .work .work-content.grid-three-col{
        grid-template-columns: 1fr 1fr;
    }
    .work .work-content {
        gap: 4rem;
    }
    .footer .foot-item{
        gap: 3rem;
    }
    .footer .footer-social a{
        display: block;
    }
    .footer .footer-social a{
        margin-bottom: 0.5rem;
    }
}

@media (max-width:1050px){
    .footer .logo{
        grid-column: 1/-1;
    }
    .footer .footer-social{
        grid-column: 1/-1;
    }
    .footer .footer-social a{
        display: inline-block;
    }
    .footer .grid-four-col{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width:990px){
    .hero {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 76% 91%, 0 100%);
    }
    .wrapper .dynamic-txt li{
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .wrapper .dynamic-txt{
        height: 50px;
        line-height: 50px;
        overflow:hidden ;
    }
    @keyframes slide{
        100%{
            top: -290px;
        }
    }
    .hero .right-hero p{
        line-height: 1.7;
        padding-right: 1rem;
    }
    .about .left-about::after {
        content: " ";
        height: 90%;
        width: 78%;
    }   
    .exp .blog-content {
        gap: 1rem;
    }
    .services .card-section {
        gap: 2rem;
    }
    .work .work-content {
        gap: 2rem;
    } 
    .blog-wrapper.grid-three-col{
        grid-template-columns: repeat(1, 1fr) ;
    }
    .blog .blog-wrapper .blog-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 93%, 0 100%);
    }
}
@media (max-width:920px){
    .exp .grid-two-col{
        grid-template-columns: 1fr;
    }
    .services .grid-three-col {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:860px){
    .hero .grid-two-col {
        grid-template-columns: 1fr;
    }
    .hero .left-hero{
        grid-row: 2;
        margin-top: 3rem;
    }
    .hero .right-hero{
        text-align: center;
        padding: 0 2.5rem;
    }
    .about .grid-two-col {
        grid-template-columns: repeat(1, 1fr);
    }
    .about .left-about{
        grid-row: 2;
        margin-top: 3rem;
    }
    .about .right-about h1 {
        font-size: 4rem;
    }
    .about .left-about::after {
        content: " ";
        height: 100%;
        width: 45%;
        left: 145px;
        top: 30px;
    }
    .wrapper .static-txt {
        font-size: 2rem;
    }
}


@media (max-width:690px){
    .navbar {
        padding: 1rem;
    }
    .navbar.sticky {
        padding: 1rem;
    }
    .logo h1 {
        font-size: 2.2rem;
    }
    .hero {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 76% 95%, 0 100%);
    }
    .hero .container .left-hero img {
        width: 300px;
    }
    .hero .right-hero p {
        line-height: 1.3;
    }
    .hero .right-hero {
        padding: 0 1rem;
    }
    .services .grid-three-col {
        grid-template-columns: repeat(1, 1fr);
    }
    .wrapper .dynamic-txt li{
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    .freelance .wrapper .dynamic-txt{
        height: 40px;
        line-height: 40px;
        overflow:hidden ;
    }
    @keyframes slide{
        100%{
            top: -210px;
        }
    }
    .about .container .left-about::after {
        display: none;
    }
    .about .left-about img {
        height: 450px;
    }
    .client .slider .slides {
        padding: 3rem 1rem;
    }
    .work .work-content.grid-three-col {
        grid-template-columns: 1fr ;
    }
    .contact .input-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .grid-four-col {
        grid-template-columns:  1fr;
    }
    .blog .blog-wrapper .blog-1 {
        display: grid;
        grid-template-columns: 1fr ;
    }
    footer {
        background: var(--dark);
        padding: 3rem 2rem;
        color: var(--ternary);
    }
    .blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 97%, 0 100%);
    }
    .wrapper .static-txt {
        font-size: 1rem;
    }
    .wrapper .dynamic-txt li{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .wrapper .dynamic-txt{
        height: 50px;
        line-height: 50px;
        overflow:hidden ;
    }
    @keyframes slide{
        100%{
            top: -250px;
        }
    }
    .sub-heading{
        height: 30vh;
    }
    .heads{
        padding-top:10rem ;
    }
}


@media (max-width:530px){
    .service-head {
        font-size: 2rem;
    }
    .hero{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 76% 94%, 0 100%);
    }
    .hero .left-hero img {
        width: 350px;
    }
    .about .container  h1 {
        font-size: 3rem;
    }
    .about .right-about h3 {
        font-size: 1rem;
    }
    .exp .blog-content .front-content {
        row-gap: 1rem;
        column-gap: 2rem;
    }
    .wrapper .static-txt {
        font-size: 1.1rem;
    }
    .exp .blog-content .front-content {
        display: grid;
        grid-template-columns: 1fr ;
        row-gap: 2rem;
        column-gap: 3rem;
    }
    .freelance .wrapper .dynamic-txt li span{
        font-size: 1.4rem;
    }
    .freelance .wrapper .dynamic-txt{
        height: 70px;
        line-height: 70px;
        overflow:hidden ;
    }
    .freelance p {
        margin-top: 0rem;
    }
    .client .slider .slides{
        padding: 3rem 1rem;
    }
    .cli
    .contact .contact-card .card-1 img {
        width: 60px;
        height: 60px;
    }
    .contact .contact-card .card-1 h1 {
        font-size: 1rem;
    }
    .contact .grid-three-col {
        grid-template-columns: repeat(1, 1fr);
    }
}